/* ---------------------------overall list------------------------------- */
.allLists{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
}

.allLists > div {
    height: 500px;
    width: 400px;
    border: 1px solid black;
}

/* -------------------------- form ---------------------------------- */

label {
    display: block;
}

.invalid {
    border: 2px solid red;
}


/*hidden by default*/
input + p {
    display: none;
}
/*visible when input`s get the class "invalid"*/
input.invalid + p {
    display: block;
}